body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.product-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #FFFF;
    border: 10px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8 px black;
    border: 1px solid black;
    overflow: hidden;
    transition: all ease 0.3s;
}

.product-box strong{
    color: black;
    font-size: 1.75rem;
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 24px;
}

.product-box img{
    width: 300px;
    height: 250px;
    display: flex;
    padding:  20px 0px;
    object-fit: contain;
    object-position: center;
    margin:  20px auto;
    top: 0;
}

.buy-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px;
}

.buy-price p{
    color: rgb(17, 10, 10);
    font-family: 'Poppins';
    font-size: 0.9rem;
    max-width: 250px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-flow-from: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buy-price .buy-btn{
    border: 1px solid black;
    color: #FFF;
    background: black;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 10px;

}

.buy-price .buy-btn:hover{
    color: black;
    background: transparent;
}
